* {
  margin: 0;
  padding: 0;

  font-family: "Roboto", sans-serif, arial;
  --primarycolor: coral;
  --secondarycolor: black;
  --tertiarycolor: rgb(209, 209, 209);
  --whitecolor: white;
  --margin: 1rem;
  --padding: 1rem;
  --normal-shadow: 0px 0.5rem 1rem rgba(0, 0, 0, 0.1);
  --blur-filter: blur(0.5rem);
}

nav {
  color: var(--primarycolor);
  font-weight: bold;
  font-size: 1.2rem;
  display: flex;
  align-items:center;
  justify-content: center;
}

iframe {
  width: 100%;
  height: 70vh;
}

footer {
  padding: var(--padding);
  margin: var(--margin);
  height: 5vh;
  color: var(--primarycolor);
  font-weight: bold;
  display: flex;
  word-wrap: normal;
  justify-content: center;
}

a {
  color: var(--primarycolor);
  text-decoration-line: none;
  padding: 1rem;
}

.nav {
  display: flex;
  margin: 1rem;
  padding-left: 2rem;
  padding-right: 2rem;
}

.intro {
  margin: 1rem;
  padding-left: 2rem;
  padding-right: 2rem;
  display: flex;
  text-align: center;
}

.project-list {
  margin: var(--margin);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  margin: var(--margin);
  padding: var(--padding);
  width: 10rem;
  height: 10rem;
  background-color: white;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  backdrop-filter: var(--blur-filter);
  box-shadow: var(--normal-shadow);
}

.card svg {
  fill: var(--secondarycolor);
  padding: 1rem;
  width: 2.5rem;
  height: 2.5rem;
}

.card a {
  margin: 0.5rem;
  padding: 0.5rem;
}

.card:hover {
  background-color: var(--primarycolor);
}

.card:hover a {
  color: white;
  background-color: var(--secondarycolor);
  border-radius: 10px;
  border: 2px black solid;
}

.app-container {
  margin: 2rem;
  padding: 1rem;
  background-color: white;
  border-radius: 10px;
  backdrop-filter: var(--blur-filter);
  box-shadow: var(--normal-shadow);
}

.app-container-nav {
  display: flex;
  flex-direction: row;
  column-gap: 2rem;
  justify-content: center;
  align-items: end;
  margin: var(--margin);
}

.app-container-button {
  background-color: white;
  border-radius: 1rem;
  border: var(--primarycolor) 2px solid;
  backdrop-filter: var(--blur-filter);
  box-shadow: var(--normal-shadow);
  width: 6rem;
  height: 3rem;
  align-items: center;
}

.app-container-button:hover {
  background-color: var(--primarycolor);
  border-radius: 1rem;
  border: var(--primarycolor) 2px solid;
  backdrop-filter: var(--blur-filter);
  box-shadow: var(--normal-shadow);
  width: 6rem;
  height: 3rem;
  align-items: center;
}

.spinning-logo {
  width: 2rem;
  height: 2rem;
  animation: logo-spin 8s infinite 0s cubic-bezier(0.38, 0.01, 0, 0.99);
}

@keyframes logo-spin {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(90deg);
  }
  50% {
    transform: rotate(180deg);
  }
  75% {
    transform: rotate(270deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

#viewer-container {
  height: 80vh;
  width: inherit;
}

